<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <!--Link  CSS-->
    <link rel="stylesheet" href="./portfolio_style.css">

</head>

<body>
    <!--Content_Porfie-->
    <div class="Content_Porfolio"> 

        <!--Topnav-->
        <div class="topnav">
                <a href="./index" class="active"> About Me</a>
                <a href="./skill"> Skill </a>
                <a href="./contact"> Contact Me </a>
                <a href="./portfolio"> Portfolio</a>
        </div>




        <!--Div_fieldset-->
        <div class="All-fieldset">
            <fieldset class="outline">
                <div class="Text_in_outline">

                    <!--Small_picture-->
                    <img class="Small_picture" src="https://scontent.fbkk4-4.fna.fbcdn.net/v/t1.6435-9/80737461_1720176234784829_5072838048568311808_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_eui2=AeFiLpmz0vwVJF8pgDqLJd6GR3ieAIfpGl1HeJ4Ah-kaXTThCBx-7ms9Vcs03RRnZKJayg9yl7lK8PLiI4SmSuVx&_nc_ohc=0y5HTYmQtzsAX9__N6z&_nc_ht=scontent.fbkk4-4.fna&oh=00_AT9UgvL8tDfRjwoex4EuHjGLAaccRrwna2otYXfaSfF3tA&oe=62A3775F"/>

                    <!--Text My Application-->
                    <a class="text_My_Application"><strong>My Application</strong></a>

                    <!--Input Search Product-->
                    <input type="text" placeholder="Search Product" name="Search Product" class="Search_Product">

                    <!--Search button-->
                    <button type="submit" class="Search_button">Search</button>

                    <!--##Text New Product-->
                    <a class="text_New_Product" href="#"><strong>New Product</strong></a>

                 </div>                
            </fieldset>
        </div>


        <!--Content_Row_1-->
        <div class="Content_Row_1">
            <!--Portfolio_1-->
            <div class="Portfolio_division_1">
                <table>
                    <tr>
                        <!--img HTML-->
                        <td>
                         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png" class="img-HTML">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">HTML</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>
        

             <!--Portfolio_2-->
             <div class="Portfolio_division_1">
                <table>
                    <tr>
                        <!--img CSS-->
                        <td>
                         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" class="img-CSS">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">CSS</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>

        </div>
        <!--Finish row 1-->


        <!--Content_Row_2-->
        <div class="Content_Row_2">

             <!--Portfolio_3-->
             <div class="Portfolio_division_1">
                <table>
                    <tr>
                        <!--img Javascript-->
                        <td>
                         <img src="https://www.freepnglogos.com/uploads/javascript-png/javascript-shield-logo-icon-2.png" class="img-Javascript">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">Javascript</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>


            <!--Portfolio_4-->
            <div class="Portfolio_division_1">
                <table>

                    <tr>
                        <!--img Nodejs-->
                        <td>
                         <img src="https://www.mptechnolabs.com/img/nodej.png" class="img-Nodejs">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">Node.js</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>

        </div>
        <!--Finish row 2-->



        <!--Content_Row_3-->
        <div class="Content_Row_3">

             <!--Portfolio_5-->
             <div class="Portfolio_division_1">
                <table>
                    
                    <tr>
                        <!--img Python-->
                        <td>
                         <img src="http://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" class="img-Python">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">Python</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>


             <!--Portfolio_6-->
             <div class="Portfolio_division_1">
                <table>
                    
                    <tr>
                        <!--img Java-->
                        <td>
                         <img src="https://cdn.freebiesupply.com/logos/large/2x/java-logo-png-transparent.png" class="img-Java">
                        </td>

                        <!--Description Product-->
                        <td>
                            <ul>
                                <li>
                                    <a>Product Name: <button type="submit" class="Search_button">Java</button></a>
                                </li>
                                <li>
                                    <a>Price</a>
                                </li>
                                <li>
                                    <a>Description</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>

        </div> 
        <!--Finish row 3-->


    </div>

</body>



</html>