body{
    font-family: 'Nunito Sans', sans-serif;
}

.Register_Form{
    margin-left: 20px;
    font-size: 20px;
    font-weight:bold;
}

.container{
    font-weight: bold;
    margin: 300px;
    box-sizing: border-box
    
}

/* Full-width input fields */
input[type=text], input[type=password] , input[type=date] ,input[type=email]{
  width: 50%;
  padding: 13px;
  margin: 5px;
  margin-left: 80px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



/*All input_box*/
.input_box{
    text-align: center;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin: 10px 40px ;
}

/*Register button */
.all_button{
    text-align: center;
    margin-bottom: 5px;
}

.Register {
  text-align: center;
  background-color: #5303d3;
  color: white;
  padding: 15px 15px;
  margin: auto;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 6px;
}

.Reset {
    text-align: center;
    background-color: #5303d3;
    color: white;
    padding: 15px 15px;
    margin: auto;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 6px;
  }

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

