.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.grey {
    background-color: rgb(41, 41, 41);
}

.light_gray {
    background-color: rgb(216, 216, 216);
}

.h50 {
    height: 50px;
}

.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.font_color {
    color: white;
    font-size: bold;
}

.margin_top {
    margin-top: 15px;
}