/******introduce Web section******/

#about {
    min-height: 200px;
    position: relative;
    background-image: url("./img/introduce\ section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    height: 500px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#Row_introduceWeb {
    margin: auto;
    width: 100%;
}

#Row_introduceWeb div {
    margin-top: 100px;
    margin-left: 20px;
    width: 42%;
    color: rgb(83, 83, 83);
}

@media (max-width: 900px) {
    #Row_introduceWeb div {
        margin-top: 80px;
        width: 55%;
    }
}

@media (max-width: 740px) {
    #Row_introduceWeb div {
        margin-top: 60px;
        width: 65%;
    }
}

@media (max-width: 536px) {
    #Row_introduceWeb div {
        margin-top: 40px;
        width: 80%;
    }
}


/******Logo******/

#from_input {
    margin: auto;
    width: 100%;
}

#input_Logo {
    margin: auto;
    width: 90%;
}

#btn_Signin {
    width: 100px;
}

@media (max-width: 769px) {
    #from_input button {
        height: 40px;
    }
    #btn_Signin {
        width: 200px;
    }
}


/*****navbar_Register_Modal*****/

#navbar_nav_ul {
    margin-left: 25px;
}

#Register_Modal {
    margin: auto;
    width: 100%;
    justify-content: right;
}

#group_btn_Register {
    padding-right: 3px;
}


/******Card*******/

@media (max-width: 769px) {
    .card {
        margin-top: 10px;
    }
}


/*****teams-items*****/

#teams-items {
    text-align: center;
    border-right: 1px solid rgb(192, 192, 192);
    padding: 4rem;
    background-color: rgb(243, 243, 243);
}

#teams-items img {
    padding-bottom: 40px;
    width: 200px;
    height: 200px;
}

@media (max-width: 767px) {
    #teams-items {
        border-right: none;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
}


/***********footer**********/

#All_Text_footer ul {
    list-style: none;
    border: 1px solid red;
}

#All_Text_footer ul li a {
    color: #fff;
}

#logo_footer {
    border: 1px solid red;
    justify-content: center;
    width: 20%;
}

#logo_footer p {
    font-size: 12px;
    text-align: center;
    border: 1px solid red;
}

#logo_footer img {
    border: 1px solid red;
    margin-left: 40px;
    margin-top: 40px;
}


/*****Market_Capitalization******/

#Row_Web_content {
    padding: 3rem;
}

#Market_Capitalization h2 {
    padding-bottom: 10px;
    color: rgb(80, 80, 80);
    border-bottom: 5px solid rgb(255, 147, 23);
    width: 30%;
}

#Market_Capitalization {
    margin-top: 10px;
}

#Web_content_ul ul {
    padding-left: 50px;
    list-style: none;
    margin-left: 20px;
    border-left: 2px solid rgb(235, 235, 235);
}

@media (max-width: 765px) {
    #Web_content_ul ul {
        list-style: none;
        border-top: 2px solid rgb(235, 235, 235);
        border-left: none;
        margin-top: 20px;
    }
    #row_Web_content_li {
        margin-top: 20px;
    }
}


/*****button_introduce_Web*****/

#button_introduce_Web span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button_introduce_Web span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#button_introduce_Web:hover span {
    padding-right: 25px;
}

#button_introduce_Web:hover span:after {
    opacity: 1;
    right: 0;
}


/********Data API*********/

#Row_API {
    background-image: url("./img/bg_img_Data_API.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#table_API {
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#tr_API {
    border-bottom: 2px solid rgb(228, 228, 228);
}

#LoopDataApi {
    border: none;
}

#LoopDataApi a {
    color: rgb(85, 85, 85);
}