.layout-navigationut ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.layout-navigationut ul li {
  float: left;
}

.layout-navigationut ul li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
