<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Link  CSS-->
    <link rel="stylesheet" href="./style.css">

     <!--Content_Porfie-->
     <div class="Content_Porfie">

        <!--Topnav-->
        <div class="topnav">
            <div>
                <a href="./index" class="active"> About Me</a>
                <a href="./skill"> Skill </a>
                <a href="./contact"> Contact Me </a>
                <a href="./portfolio"> Portfolio</a>
            </div>
        </div>

        <!--Text Contact Me-->
        <header>
            <h1>Contact Me</h1>
        </header>

        <div class="list_contact_me">
            <div>Phone: 094-3274365</div>
            <div>Email: silapakaneragon@hotmail.co.th</div>
            <div>Line ID: thekingtwin</div>
            <div>website: www.565232656565.com</div>
            <div>Address:  Khunsri Sai Noi Nonthaburi 11150</div>
        </div>
    </div>
    
</body>
</html>